<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9u6fdF5DlAU6HXoGfLG97QM1kJe-rdwc</string>
	<key>GCM_SENDER_ID</key>
	<string>597425704402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseBlogApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-blog-app-dc6af</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-blog-app-dc6af.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:597425704402:ios:0c8d59f3e43d60aabd0c0b</string>
</dict>
</plist>